.outerdiv{
    /* background-color: white; */
    margin: 0 auto;
    /* border-radius: 5px;
    border-color: rgb(190, 190, 190);
    border-width: 1px;
    border-style: solid; */
    background-color: pink;
}

body{
    background-color: green;
    /* background-image:  */
}

.inlogscherm{
    /* align-content: center;
    justify-content: center;
    text-align: center; */
    /* width: 50%; */
    /* background-color: rgb(194, 194, 194); */
    flex-direction: column;
    padding: 40px; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;  
    flex-direction: column;

}

h1{
    color: rgb(83, 0, 83);
}

.geheel{
    display: block;
    align-content: center;
    
    /* margin-top: 10%; */
    margin-left: 50px;
    margin-right: 50px;
    /* margin-bottom: 40%; */
    /* padding-bottom: 10%; */
    height: 80%;
    padding: 20px;
 
    /* background-color: lightgray; */
    color: white;
    border-radius: 5px;
}

.dinges{
    text-align: center;
}

input{
    text-align: left;
    /* align-content: left;
    align-items: left; */ 
    margin: 0 auto;
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

label{
    text-align: right;
    padding: 10px;
}

.buttons{
    align-content: center;
    text-align: center;
}