.outerdiv{
    margin-bottom: 0;
    margin-top: 20%;
    background-image: url("src/app/bgimage.png");
    
    background-repeat: no-repeat;
}

body{
    background-color: green;
}

.inlogscherm{
    flex-direction: column;
    padding: 40px; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;  
    flex-direction: column;

}

h1{
    color: white;
}

.geheel{
    display: block;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 80%;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.dinges{
    text-align: center;
}

input{
    text-align: left;
    margin: 0 auto;
    width: 30%;
    display: inline-flex;
    justify-content: center;
}

label{
    text-align: right;
    padding: 10px;
}

.buttons{
    align-content: center;
    text-align: center;
}