ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin: 5px 0px;
    border-bottom: 2px solid #800080;
    padding-bottom: 5px;
}

body{
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
}

.heleLijst{
    background-color: white;
    width: 100%;
    color: black;
    border-radius: 3px;
    
}

a {
    color: #a169e0;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
  }

a:hover{
    text-decoration: underline;
}

h1{
    color: #be6ee4;
}

@media screen and (max-width: 600px){
    .create-form{
        flex-direction: column;
    }
    .bio textarea{
        height: 80px;
    }
    .input-fields,
    .bio,
    .btn{
        width: 100%;
    }
}

.namenDisplay{
    font-weight: bold;
}