
/* CSS-Editor(s): Emiel  */

*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    
    background-size: cover;
    height: 100%;
    
}

h1 {
    color: #333;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
    text-align: center;
}

.feed{
    max-width: 550px;
    margin: 0 auto;
    background: #dbdada;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(223, 97, 223, 0.13);
    list-style: none;
}

.post-complete{
    align-content: center;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    
}

.post-details{
    text-decoration: underline;

}

.post-inhoud{
font-style: oblique;
margin: 5px;
padding: 5px;
}

.createPost{
    display: flex;
    justify-content: center;
}
create-post{
    max-width: 100vw;
}

