.post-background{
    margin-top: 70px;
    border-radius: 3px;
    border-style: solid;
    border-color:rgb(169,169,169);
    border-width: 1.5x;

}

.comment{
    margin: 10px !important;
    color: #333;
}
.post-details{
    padding: 10px;
}
.post-inhoud{
    padding: 10px;

}
