<div class="post-background">
<p class="post-details">{{post.gebruiker.username}}, {{post.aanmaakDatum | date:'medium'}}: </p> 
    <div *ngIf="!isChanging">
        <p class="post-inhoud" [id]="post.id">{{post.tekst}}</p>
        <button (click)="bijVerandering()">Wijzigen</button>
        <button (click)="delete(post.id)">Delete</button>
    </div>
    <div  *ngIf="isChanging">
        <textarea [(ngModel)]="post.tekst"></textarea> 
        <button (click)="getUser()">Opslaan</button>
        <button (click)="bijVerandering()">Terug</button>
    </div>
    <div class="comment">
    <show-comment [post]="post"></show-comment>
</div>
<create-reactie [post]="post"></create-reactie>
</div>
    
