<p class="post-details">{{post.gebruiker.username}} schrijft
    op {{post.aanmaakDatum}}: </p> 
    <div *ngIf="!isChanging">
        <p class="post-inhoud" [id]="post.id">{{post.tekst}}</p>
        <button (click)="bijVerandering()">Wijzigen</button>
        <button (click)="delete(post.id)">Delete</button>
        <create-reactie [post]="post"></create-reactie>
    </div>
    <div  *ngIf="isChanging">
        <textarea [(ngModel)]="post.tekst"></textarea> 
        <button (click)="getUser()">Opslaan</button>
        <button (click)="bijVerandering()">Terug</button>
    </div>
    <show-comment [post]="post"></show-comment>

    
