<p class="post-details">{{post.gebruiker.username}} schrijft
    op {{post.aanmaakDatum}}: </p> 
    <div *ngIf="!isChanging">
        <p class="post-inhoud" [id]="post.id">{{post.tekst}}</p>
        <button (click)="bijVerandering()">Wijzigen</button>
        <button (click)="bijComment()">Comment</button>
    </div>
    <div  *ngIf="isChanging">
        <textarea *ngIf="isChanging" [(ngModel)]="post.tekst"></textarea> 
        <button (click)="getUser()">Opslaan</button>
        <button (click)="bijVerandering()">Terug</button>
    </div>

    <button (click)="delete(post.id)">Delete</button>

    <div *ngIf="commentBoolean">
        <textarea placeholder="typ hier je comment"></textarea>
        <button (click)="createReactie()">Opslaan</button>
        <button (click)="bijComment()">Terug</button>
    </div>