
<body>
<h2>Create User</h2>
  
<div class="wrapper">
  <div class ="create-form">
    <div class="input-fields">
        
    <input class="input" [(ngModel)]="user.username" placeholder="Username" />
    <input class="input" [(ngModel)]="user.wachtwoord" placeholder="Wachtwoord" />
    <input class="input" [(ngModel)]="user.voornaam" placeholder="Voornaam" />
    <input class="input" [(ngModel)]="user.achternaam" placeholder="Achternaam" />
    <input class="input" [(ngModel)]="user.email" placeholder="Emailadress" />
    <input class="input" [(ngModel)]="user.rol" placeholder="Rol" />

    </div>
  
  
    <div class="bio">
      <textarea class="input" [(ngModel)]="user.bio" placeholder="Biografie"></textarea>
    
      <div class="btn">
        <input type="button" (click)="create()" value="Create user">
      </div>

    </div>

  </div>

</div>
</body>