<h1>Create User pagina</h1>

<div>
  <label>username:<input [(ngModel)]="user.username" placeholder="username" /></label>
  <br>
  <label>wachtwoord:<input [(ngModel)]="user.wachtwoord" placeholder="wachtwoord" /></label>
  <br>
  <label>biografie:<input [(ngModel)]="user.bio" placeholder="bio" /></label>
  <br>
  <label>voornaam:<input [(ngModel)]="user.voornaam" placeholder="voornaam" /></label>
  <br>
  <label>achternaam:<input [(ngModel)]="user.achternaam" placeholder="achternaam" /></label>
  <br>
  <label>email:<input [(ngModel)]="user.email" placeholder="emailadress" /></label>
  <br>
  <label>rol:<input [(ngModel)]="user.rol" placeholder="rol" /></label>
  <br>
  <input type="button" (click)="create()" value="Create user">
</div>