<div *ngIf="currentUser" class="creategroup_container">

  <div class="creategroupchild"> 
    <h2>Create Group</h2>         
    <input class="input" [(ngModel)]="group.groepsNaam" placeholder="Groepsnaam" required/>
    <select [(ngModel)]="user" (ngModelChange)='selectedUser($event)' multiple required>
      <option disabled>Selecteer groepsleden</option>
      <option *ngFor="let user of users" [value]="user.id">{{user.voornaam}}&nbsp;{{user.achternaam}}</option>
    </select> 
    <button (click)="create(user)" >Create Group</button>
  </div>
</div> 

<div *ngIf="!currentUser">
    <p>Fout: je bent niet ingelogd.</p>
    <a routerLink="/login">naar login pagina</a>
  </div>