.creategroup_container{
    display: flex;
    justify-content: center;
    height: 40vh;  
}

.creategroupchild{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input{
    margin-bottom: 5px;
    border-radius: 3px;
    border: solid 1px ;
    padding: 5px;
    background-color: #f2d9ff;
}

input::placeholder{
    font-style: italic;
}

select{
    border-radius: 3px;
    border: solid 1px ;
    padding: 5px;
    background-color: #f2d9ff;
}

button{
    margin: 0 auto;
}