/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

adjust-user,
show-user,
newsfeed,
create-post,
adjust-post,
create-group,
create-reactie,
show-comment{
    margin: 0 !important;
}

html, body { height: 100%; }
body { margin: 0 !important; font-family: Roboto, "Helvetica Neue", sans-serif; }

create-post{
    margin-left: 20px !important;
}
